div.form
{
    display: block;
    text-align: center;
}
form 
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 25px ;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

.form-margin{
    margin-top: 50px;
}

.center{
    justify-content: center;
}